.container {
    width: 100vh;
    margin: 5vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
    margin: 2vh;
    width: 30vh;
  }
  
  body {
    background-color: #0b0c0c;
}
  
  h1 {
    margin: 30px;
    font-family:fantasy;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #f17400;
  }
  
  p {
    font-size: 2rem;
    color: #f17400;
    font-family:fantasy;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 3vh;
    color: #EEEEEE;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }

  